#entete{
    float: right;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

body{
    margin: 0;
    padding: 0;
    background: url(Image/walpFood.jpg) no-repeat center fixed;
    background-size: cover;
    
}

fieldset{

    background-color:#DCE1F6;
    max-width:300px;
    padding:18px;   
    border:1px solid rgb(66, 92, 161);  
    border-radius:8px;
    margin-right: auto;
    margin-left: auto;
}

.contact-section h1{
    text-align: center;
    color: #8E9EC6;
    font-size: 50px;
}

.ident-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;

}

.ident-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    border: 0;
    background: #fff;
    padding: 20px 10px;
    outline: none;
    color: #111;
    transition: 0.5s;
    border-radius:8px;
}

.ident-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
}

.ident-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.ident-form-btn:hover{
    background: #2980b9;
}
